
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Owner/_OwnerLayout.cshtml";
}

<h2>Index</h2>

<h2>Owner Index</h2>
<h2>Owner Index</h2>
<h2>Owner Index</h2>
<h2>Owner Index</h2>
<h2>Owner Index</h2>
<h2>Owner Index</h2>
<h2>Owner Index</h2>
<h2>Owner Index</h2>
<h2>Owner Index</h2>
<h2>Owner Index</h2>
<h2>Mahmod Salah Elwakeil</h2>