
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Auditor/_AuditorLayout.cshtml";
}

<h2>Auditor Index</h2>
<h2>Auditor Index</h2>
<h2>Auditor Index</h2>
<h2>Auditor Index</h2>
<h2>Auditor Index</h2>
<h2>Auditor Index</h2>
<h2>Auditor Index</h2>
<h2>Auditor Index</h2>
<h2>Auditor Index</h2>
<h2>Auditor Index</h2>
<h2>Auditor Index</h2>
<h2>Auditor Index</h2>

